@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100&display=swap');

:root {

/* Colors: */
--unnamed-color-f7f7f7: #F7F7F7;
--unnamed-color-262b35: #262B35;
--unnamed-color-ffffff: #FFFFFF;

/* Font/text values */
--unnamed-font-family-poppins: Poppins;
--unnamed-font-style-normal: normal;
--unnamed-font-weight-medium: medium;
--unnamed-font-weight-normal: normal;
--unnamed-font-weight-bold: bold;
--unnamed-font-size-16: 16px;
--unnamed-font-size-18: 18px;
--unnamed-font-size-40: 40px;
--unnamed-character-spacing-0: 0px;
--unnamed-character-spacing-0-04: 0.04px;
--unnamed-line-spacing-30: 30px;
--unnamed-line-spacing-36: 36px;
--unnamed-line-spacing-40: 40px;
}

/* Character Styles */
.unnamed-character-style-1 {
font-family: var(--unnamed-font-family-poppins);
font-style: var(--unnamed-font-style-normal);
font-weight: var(--unnamed-font-weight-bold);
font-size: var(--unnamed-font-size-40);
line-height: var(--unnamed-line-spacing-40);
letter-spacing: var(--unnamed-character-spacing-0-04);
color: var(--unnamed-color-232323);
}
.unnamed-character-style-2 {
font-family: var(--unnamed-font-family-poppins);
font-style: var(--unnamed-font-style-normal);
font-weight: var(--unnamed-font-weight-normal);
font-size: var(--unnamed-font-size-18);
line-height: var(--unnamed-line-spacing-36);
letter-spacing: var(--unnamed-character-spacing-0);
color: var(--unnamed-color-828282);
}
.unnamed-character-style-3 {
font-family: var(--unnamed-font-family-poppins);
font-style: var(--unnamed-font-style-normal);
font-weight: var(--unnamed-font-weight-medium);
font-size: var(--unnamed-font-size-16);
line-height: var(--unnamed-line-spacing-30);
letter-spacing: var(--unnamed-character-spacing-0);
color: var(--unnamed-color-232323);
}

.blog{
    width: 100%;
}


.blog_cardSection_Main{
    position: relative;
    padding-left:166px;
    padding-right:166px;
    padding-top: 80px;
    padding-bottom: 100px;
    width: 100%;
    height: 100%;
   /* height: 1813px; */
   display: flex;
   flex-wrap: wrap;
   background: var(--unnamed-color-f7f7f7) 0% 0% no-repeat padding-box;
   background: #F7F7F7  0% 0% no-repeat padding-box;
   opacity: 1;
}

/* .blog_cardSectionHead */
.blog_cardSection{
   display: flex;
   flex-wrap: wrap;
   background: var(--unnamed-color-f7f7f7) 0% 0% no-repeat padding-box;
   background: #F7F7F7  0% 0% no-repeat padding-box;
   opacity: 1;
}

.blog_card{
    width:30%;
    display: flex;
    flex-direction: column;
background: var(--unnamed-color-ffffff) 0% 0% no-repeat padding-box;
background: #FFFFFF 0% 0% no-repeat padding-box;
box-shadow: 0px 2px 4px #00000029;
opacity: 1;
padding: 16px;
margin: 14px;
border-radius: 4px;
transition: all 0.3s ease-out;
position: relative;
}


.blog_card .card_label{
margin-top: 14px;
font: var(--unnamed-font-style-normal) normal 400 12px/20px  var(--unnamed-font-family-poppins);
font: normal normal medium 8px/27px Poppins;
letter-spacing: 0.49px;
color: #828282;
opacity: 1;
    width: fit-content;
    padding: 3px;
background:transparent 0% 0% no-repeat padding-box;
border: 1px solid #E2E2E2;
border-radius: 2px;
opacity: 1;
transition: all 0.3s ease-in-out;
}
.blog_card>.card_date{
    font: normal normal 600 14px/14px Poppins;
    opacity: 0;
    z-index: -1;
    transition: all 0.3s ease-in-out;

}

.blog_card:hover>.card_date{
    font: normal normal 300 12px/10px Poppins;
    opacity: 1;
    z-index: 1;
    transform:translate(0px,20px);
    color: white;
}
.blog_card >.card_title{
    margin-top: 12px;
    margin-bottom: 24px;
    font: var(--unnamed-font-style-normal) normal 200 14px/14px var(--unnamed-font-family-poppins);
letter-spacing: var(--unnamed-character-spacing-0);
text-align: left;
font: normal normal 600 14px/14px Poppins;
letter-spacing: 0px;
color: #232323;
opacity: 1;
transition: all 0.3s ease-in-out;
}
.card_bottomLabel{
    background: linear-gradient(to right, #233297, #ed1c24);
-webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-top: 24px;
    margin-bottom: 24px;
   font-size: 14px; 
}

.card_border_gradient {
    border: 1px solid;
    width: 43%;
    border-image-slice: 1;
    border-width: 1px;
    border-image-source: linear-gradient(to left, #743ad5, #d53a9d);
  }



.blog_cardImg{
    /* position: relative; */
    width: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100%;
    /* width: 100%; */
    /* background-color: blueviolet; */
    z-index: -1;
    transition: all 0.3s ease-in-out;
    transform:scale(0,0);
    opacity: 0;
    
}
.blog_cardImg>img{
    position: absolute;
    width: 100%;
    height: 100%;
   object-fit: cover;
}
.blog_card:hover>.blog_cardImg{
    opacity: 1;
    z-index: 1;
    transform:scale(1,1);
}


.blog_card:hover>.card_label{
    color:white;
     z-index: 1;
 }
.blog_card:hover>.card_title{
   color: white;
    z-index: 100;
    transform:translate(0px,20px);
}




/* start of blog detail */
.cardDetail{
    width: 100%;
}
.cardDetail_bg{
    width: 100%;
  height: 400px;
  max-height: 400px;
  background: transparent url(../../Assets/Group\ 3685.png) 0% 0% no-repeat padding-box;
 /* text-align: center; */
 display: flex;
 justify-content: center;
 align-items: center;
}

.cardDetail_main{
    width: 50%;
    margin: auto;
    display: flex;
    flex-direction: column;
   
}
.cardDetail_topic{
    padding: 30px 10px ;
text-align: left;
font: normal normal normal 14px/24px Poppins;
letter-spacing: 0px;
color: #828282;
opacity: 1;
}
.cardDetail_topic>div:nth-child(4){
    width:100%
}
.cardDetail_topic>div:nth-child(4)>img{
    width:100%
}
.cardDetail_topic>div:nth-child(4)>div{
    color: #232323;
    font: normal normal 600 16/48px var(--unnamed-font-family-poppins);
    text-align:center
}
.cardDetail_data2{
    margin: 32px;
    text-align: center;
    font: normal normal medium 14px/24px Poppins;
    letter-spacing: 0px;
    color: #232323;
    text-transform: capitalize;
    opacity: 1;
}

.cardDetail_subTopic{
    padding: 30px 10px ;
    font: normal normal normal 14px/24px Poppins;
text-align: left;
letter-spacing: 0px;
color: #828282;
opacity: 1;
}

.cardDetail_likesmain{
margin: 12px auto;
}
.cardDetail_likesmain>div{
    margin: 12px auto;
    font-weight: 600;
    font-size: 10px;  
}
.cardDetail_likes{
  width: 50px;
    border: 1px solid;
    height: 50px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.cardDetail_likes>div{
    color:grey;
    text-align:center
  }
/* end of blog detail */

/*wrriter block */
.cardDetail_writerblock{
    display: flex;
    background: var(--unnamed-color-ffffff) 0% 0% no-repeat padding-box;
background: #FFFFFF 0% 0% no-repeat padding-box;
box-shadow: 3px 3px 6px #0000001F;
opacity: 1;
margin: 14px;
padding: 14px;
}
.cardDetail_writerblock>div{
    margin: 9px;
    display:flex;
    flex-direction:column;
    align-content:space-between;
}
.cardDetail_writerblock>div>div{
    margin: 2px;
    font-weight: 300;
    font-size: 12px;  
}
.cardDetail_writerblock>div:first-child>div:nth-child(2){
    font-weight: 600;
    font-size: 10px;  
}
.cardDetail_writerblock>div>div:first-child{
    font-weight: 600;
    font-size: 14px;  
}

.cardDetail_writer_pic{
    width: 59px;
    height: 59px;

opacity: 1;
}
.cardDetail_writer_pic>img{
    width: 100%;
    height: 100%;

opacity: 1;
}

.cardDetail_writerblock_social_icons{
   display:flex;
   justify-content:center;
  
}
.cardDetail_writerblock_social_icons>div{
    width:4%;
    margin: 3px;

 }

 .cardDetail_writerblock_social_icons img{
    width:100%
 }

 /*end of writer block*/

/* start of related block */
.cardDetail_relatedBlogs_section{
    width: 100%;

display: flex;
flex-direction: column;
align-items: center;

background: #ECEEF6 0% 0% no-repeat padding-box;;
}
.cardDetail_relatedBlogs{

display: flex;
justify-content: space-around;
}
/* end of realted block */

