.header {
  width: 100%;
  padding: 14px 0;
  background: transparent;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  transition: all 0.3s;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

header svg {
  fill: #fff;
  border-radius: 3px;
  transition: all 0.3;
  cursor: pointer;
}

header svg:hover {
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3);
}

.scrolled {
  background: #fff;
  color: rgb(19, 19, 19);
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.2);
}

.scrolled svg {
  fill: rgb(19, 19, 19);
}

.addBackground {
  background: #fff;
  color: rgb(19, 19, 19);
}

.addBackground svg {
  fill: rgba(19, 19, 19);
}

nav {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1030px;
  padding: 0 20px;
}

nav img {
  width: 44px;
}

nav ul {
  list-style: none;
  display: flex;
  text-transform: capitalize;
}

nav ul li:not(:last-child) {
  margin-right: 40px;
}

.link {
  color: inherit;
}

.link:hover {
  color: inherit;
}

.menu {
  display: none;
}

@media screen and (max-width: 650px) {
  nav ul {
    display: none;
  }
  .menu {
    display: block;
  }
}
