.App {
  width: 100%;
  background: #f7f7f7;
}
.slick-dots li.slick-active button:before {
  color: #233297 !important;
}

.slick-dots li button:before {
  font-size: 10px !important ;
  color: #233297 !important ;
}

@media screen and (min-width: 654px) {
  .sidebar {
    display: none;
  }
}
