.bar {
  width: 100%;
  padding: 15px 0;
  background: var(--background);
  display: flex;
  justify-content: center;
  align-items: center;
}

.bar__main {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  max-width: 1030px;
  padding: 0 20px;
}

.bar__main p:first-child {
  font-size: 18px;
}

.bar__main p:last-child {
  display: flex;
  align-items: center;
  color: #828282;
  font-weight: 300;
  font-size: 15px;
}

.bar__main p:last-child span {
  display: inline-block;
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background: #828282;
  margin: 0 10px;
}
